- provide(:title, "About Odinbook")

.static-content
  %h2 About Us
  %p 
    Odinbook is a personal project created to help with learning web development. It was made as the final project of <a href="http://www.theodinproject.com/home">The Odin Project</a>'s <a href="http://www.theodinproject.com/ruby-on-rails/final-project">Ruby on Rails</a> and <a href="http://www.theodinproject.com/javascript-and-jquery/final-project">JavaScript/jQuery</a> courses.
  %p 
    Odinbook is made to replicate some of the look and functionality of Facebook, but is not affiliated with Facebook.
  %p
    We aim to be unobtrusive and privacy-minded, storing no more than what you provide and allowing you to completely delete an account whenever you choose. See our
    = link_to "Privacy Policy", privacy_path
    for more details.
  %p 
    Odinbook is hosted on <a href="https://odinbook.herokuapp.com/">Heroku</a> and the source code can be viewed on <a href="https://github.com/donaldali/odinbook">GitHub</a>.
  %p 
    To learn more about the functionalities avaliable, please see the documentation on <a href="https://github.com/donaldali/odinbook">GitHub</a>.
  %p 
    Please leave any comments, feedback, concerns, or questions you have on the <a href="https://github.com/donaldali/odinbook/wiki/Home/_edit">GitHub Wiki</a>.
