- provide(:title, "Contact | Help")

.static-content
  %h2 Contact or Help
  %p 
    We would really love to hear any kind of feedback (comment, concerns, issues, problems, suggestions, or whatever) you might have. Please leave them on the <a href="https://github.com/donaldali/odinbook/wiki/Home/_edit">GitHub Wiki</a>.
  %p 
    To report a problem or issue, you may also create a new <a href="https://github.com/donaldali/odinbook/issues/new">GitHub Issue</a>.
