- provide(:title, "Privacy Policy")

.static-content
  %h2 Privacy Policy
  %h5 Last Updated: Mar 20, 2015

  %p
    This privacy policy discloses the privacy practices for Odinbook.

  %h3 What information we collect?
  %p 
    We collect information from you when you register on our site and when you fill out your profile. Personally identifying information collected include your name and email. Your email is hidden from everyone, but your name and profile picture (if you provide one) are shown to all Odinbook users.
  %p
    If you choose to register with an external service like Facebook, we collect ONLY your first name, last name, email, and gender; that is, exactly the information required to sign up for Odinbook. If you later log in with Facebook, only your email address will be used to log you in.
  %p
    Other than the information you provided during registration and at your profile, we keep no informtion about you. We store the content you generate on Odinbook (like posts or comments you make), but we don't store your log in times, locations, IP addresses or any information you don't explicitly create during your use of this service.

  %h3 What we use your information for?
  %p
    We use your email to log you into the website, send you a one time welcome email, and later emails about your notifications. You can disable receiving emails about notifications from your profile. You can choose, from your profile, to share your Odinbook created content with everyone (that is, all Odinbook users) or just your friends.

  %h3 Who we share your information with?
  %p
    We do not share, rent, sell, trade, or otherwise transfer any of your information with or to any third party including any non-identifying data or any aggregate data.

  %h3 Control over your information
  %p
    You can change any information related to your profile at anytime, including not providing any profile information. We do however require that you always have the information used to sign up (that is, your first name, last name, email, and gender).
  %p
    If for whatever reason you are not satisfied with Odinbook, you can delete your entire Odinbook account from your profile and the entirety of your activity will be erased. We will keep no record that you ever used our service.

  %h3 Third party links
  %p
    We do have links to a couple of third party websites. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activity of these linked sites.

  %h3 Changes to our Privacy Policy
  %p
    Any changes to our privacy policy will be posted on this page.

  %h3 Contacting Us
  %p
    You may address any comments, concerns, or issues to the <a href="https://gist.github.com/donaldali/6670a7667dde9c7934c1">Odinbook Gist</a> or the <a href="https://github.com/donaldali/odinbook/wiki/Home/_edit">Odinbook Wiki</a>.
