- provide(:title, "Terms of Service")

.static-content
  %h2 Terms of Service
  %h5 Last Updated: March 16, 2015.
  %p 
    Please read these Terms of Service ("Terms", "Terms and Conditions") completely to use 
    = link_to "Odinbook.", root_path
    The term 'Odinbook' or 'us' or 'we' refers to the owner of the website. The term 'you' refers to the user or viewer of our website. If you continue to use this website, you are agreeing to comply with and be bound by the following Terms and Conditions of use, which together with our 
    = link_to "Privacy Policy", privacy_path
    govern Odinbook's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website. 

  %h3 Terms and Conditions of use
  %p 
    The use of this website is subject to the following terms of use:
  %ul
    %li Don't use this website to do anything illegal or harmful.
    %li Treat others as you would like others to treat you.
    %li Don't treats others in ways you would not like to be treated.

  %h3 Termination
  %p 
    We reserve the right to terminate or suspend your access to the Site, immeidately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
  %p 
    All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
