.notification-container
  .main-message= notification.message
  - if notification.notification_type == "request"
    .sub-message= link_to "See your Friend Requests", friend_requests_path(current_user)
