= button_to "Unfriend", 
  friendship_path(get_friendship(current_user, user)), 
  data: { confirm: "Are you sure you want to Unfriend #{user.name}?" }, 
  method: :delete, 
  params: { user_id: user.id, unfriend: true, is_index: is_index }, 
  class: "danger-btn", remote: true
