/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.main-container {
  @extend .container;
}
.info-container {
  padding-top: 12px;
}
.sidebar,
.content {
  display: inline-block;
  vertical-align: top;
}
.sidebar {
  width: $sidebar-width;
  margin-left: 8px;
}
.content {
  width: $content-width;
  margin-left: 11px;
  margin-right: 10px;
}

/*
  ========================================
  General
  ========================================
*/
html,
body { 
  height: 100%; 
}
body {
  color: $color;
  background-color: $bg-color;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 12px;
}
header {
  background-color: $blue;
  width: 100%;
}
.container{
  width: 980px;
  margin: 0 auto;
  position: relative;
}

/*
  ========================================
  Sidebar
  ========================================
*/
.sidebar {
  line-height: 24px;
  li {
    &:hover {
      background-color: #dfdfdf;
    }
    &:first-child {
      font-weight: bold;
    }
  }
  a {
    display: block;
    color: $alt-color;
    padding-left: 10px;
    &:hover{
      text-decoration: none;
    }
  }
  .sm-profile a {
    display: inline-block;
    padding-left: 0;
    position: relative;
    top: -5px;
  }
  .info {
    display: inline-block;
    line-height: 22px;
    color: $color;
    overflow: hidden;
    a {
      white-space: nowrap;
      width: 120px;
      padding-left: 5px;
      &:hover {
        text-decoration: underline;
      }
      &:first-child {
        display: block;
        font-weight: bold;
        position: relative;
        top: 0;
      }
    }
  }
}

/*
  ========================================
  Profile Banner
  ========================================
*/
.profile-banner {
  height: 245px;
  width:  679px;
  position: relative;
  word-wrap: break-word;
}
.banner-top {
  background-color: #232937;
  position: relative;
  height: 202px;
  span,
  .friend-status {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    word-wrap: break-word;
  }
  span {
    bottom: 12px;
    left: 201px;
    max-width: 210px;
    max-height: 160px;
    a {
      color: #fff;
      font-size: 24px;
      line-height: 30px;
      text-decoration: none;
    }
  }
  .friend-status {
    bottom: 15px;
    right: 15px;
    max-width: 250px;
    max-height: 160px;
    text-align: right;
    font-size: 14px;
    line-height: 18px;

    p {
      color: #fff;
      display: inline;
    }
    a {
      @extend .default-btn;
      text-decoration: none;
      margin-top: 5px;
    }
    form {
      display: inline-block;
      margin-left: 3px;
      margin-top: 5px;
      input {
        @extend .default-btn;
      }
    }
  }
}
.banner-bottom {
  background-color: #fff;
  height: 43px;
  border: 1px solid #d3d6db;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  ul {
    margin-left: 200px;
  }
  li {
    display: inline-block;
    border-right: 1px solid #e9eaed;
    &:first-child {
      border-left: 1px solid #e9eaed;
    }
  }
  a {
    display: inline-block;
    padding: 0 17px;
    height: 42px;
    line-height: 42px;
    color: $blue;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      background-color: $gray;
      text-decoration: none;
    }
  }
  .friend-count {
    color: #89919c;
    font-size: 11px;
    padding-left: 3px;
  }
}
.profile-pic {
  background-color: #fff;
  a {
    height: 170px;
    width:  170px;
    border: 1px solid #3a5795;
    position: absolute;
    bottom: 16px;
    left:   15px;
    border-radius: 3px;
    background-color: #fff;
    border-radius: 2px;
  }
  img {
    height: 168px;
    width: 168px;
    border: 4px solid #fff;
    border-radius: 2px;
  }
}

/*
  ========================================
  Message
  ========================================
*/
.flash-holder {
  position: relative;
  top: 10px;
  margin-bottom: 10px;
}
.flash {
  max-width: 610px;
  padding: 10px;
  border: 1px solid;
  margin: 0 auto;
  font-size: 11px;
  a {
    color: $blue;
    font-size: 13px;
    padding-left: 15px;
  }
}
.alert {
  border-color: #dd3c10;
  background-color: #ffebe8;
}
.notice {
  border-color: #e2c822;
  background-color: #fff9d7;
}

/*
  ========================================
  Form
  ========================================
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
input:focus,
textarea:focus,
select:focus {
  outline: 0;
}
input[type="radio"] {
  cursor: pointer;
}
/* Buttons */
.btn {
  font-weight: bold;
  text-align: center;
  height: 22px;
  line-height: 22px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
}
.alt-btn {
  @extend .btn;
  color: #fff;
  background-color: #5b74a8;
  border-color: #2f477a #29447e #1a356e;
  padding: 0 6px;
  font-size: 11px;
  line-height: 13px;
}
.main-btn {
  @extend .btn;
  padding: 0 8px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-sizing: content-box;
  vertical-align: middle;
  font-size: 12px;

}
.primary-btn {
  @extend .main-btn;
  color: #fff;
  background-color: #4e69a2;
  border-color: #435a8b #3c5488 #334c83;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}
.default-btn {
  @extend .main-btn;
  background-color: $gray;
  border-color: #cccccc #c5c6c8 #b6b7b9;
  color: #4e5665;
  text-shadow: 0 1px 0 #fff;
}
.danger-btn {
  @extend .default-btn;
  color: #980113;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

/*
  ========================================
  Positioning
  ========================================
*/
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.dot {
  position: relative;
  top: -3px;
  color: #9197a3;
}

/*
  ========================================
  Images
  ========================================
*/
@mixin image-size($size) {
  height: $size;
  width:  $size;
}
.v-lg-img { @include image-size(160px); }
.lg-img   { @include image-size(75px); }
.md-img   { @include image-size(40px); }
.sm-img   { @include image-size(32px); }
.v-sm-img { @include image-size(19px); }
.like-img {
  height: 11px;
  position: relative;
  top: 1px;
}
.delete {
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
