/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  General
  ========================================
*/
html,
body { 
  height: 100%; 
}
body {
  color: $color;
  background-color: $bg-color;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 12px;
}
header {
  background-color: $blue;
  width: 100%;
  border-bottom: 1px solid #133783;
}
.container{
  width: 980px;
  margin: 0 auto;
  position: relative;
}

/*
  ========================================
  Message
  ========================================
*/
.flash-holder {
  margin-top: 7px;
}
.flash {
  max-width: 600px;
  padding: 7px;
  border: 1px solid;
  margin: 0 auto;
  text-align: center;
}
.alert {
  border-color: #dd3c10;
  background-color: #ffebe8;
}
.notice {
  border-color: #f5b232;
  background-color: #ffff9e;
}

/*
  ========================================
  Form
  ========================================
*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
input:focus {
  outline: 0;
}
/* Buttons */
.btn {
  font-weight: bold;
  text-align: center;
  height: 22px;
  line-height: 22px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
}
.alt-btn {
  @extend .btn;
  color: #fff;
  background-color: #5b74a8;
  border-color: #2f477a #29447e #1a356e;
  padding: 0 6px;
  font-size: 11px;
  line-height: 13px;
}
.main-btn {
  @extend .btn;
  padding: 0 8px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-sizing: content-box;
  vertical-align: middle;
  font-size: 12px;

}
.primary-btn {
  @extend .main-btn;
  color: #fff;
  background-color: #4e69a2;
  border-color: #435a8b #3c5488 #334c83;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);

}
.default-btn {
  @extend .main-btn;
  background-color: $gray;
  border-color: #cccccc #c5c6c8 #b6b7b9;
  color: #4e5665;
  text-shadow: 0 1px 0 #fff;
}
.danger-btn {
  @extend .default-btn;
  color: #980113;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

/*
  ========================================
  Positioning
  ========================================
*/
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
