/*
  ========================================
  Notifications
  ========================================
*/
.notifications {
  background-color: #fff;
  width: $content-width;

  h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #1e2d4c;
    border-bottom: 1px solid #aaa;
    padding: 20px 5px;
  }
}
.notification-container {
  padding: 10px 20px;
  &:nth-child(odd) {
    background: $gray;
    border: 1px solid #e9eaed;
  }
  .main-message {
    line-height: 1.28;
    font-size: 12px;
  }
  .sub-message {

  }
}
