/*
  ========================================
  Edit
  ========================================
*/
.profile-container {
  width: $content-width;
  word-wrap: break-word;
  border: 1px solid #bdc7d8;
  background-color: #fff;
  position: relative;

  .edit-profile-form {
    padding: 12px 0;
  }


  h2,
  h3 {
    font-weight: bold;
    color: #373e4d;
  }
  h2 {
    font-size: 20px;
    background-color: #f6f7f8;
    border-bottom: 1px solid #dcdee3;
    padding: 16px 12px;
  }
}
.general {
  label {
    color: #9197a3;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  div {
    margin-bottom: 10px;
  }
  select,
  textarea {
    vertical-align: top;
    margin-left: 10px;
  }
  select {
    padding: 5px 6px;
    border: 1px solid #bdc7d8;
    font-size: 14px;
    color: $color;
    width: 360px;
  }
  .bday {
    select {
      width: 80px;
    }
  }
  textarea {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 360px;
    border: 1px solid #bdc7d8;
    padding: 8px;
    overflow: hidden;
    font-size: 14px;
    resize: vertical;
  }
}
.privacy {
    border-bottom: 1px solid #bdc7d8;
  h3 {
    font-size: 16px;
    padding: 6px 12px;
  }
  span {
    font-size: 14px;
    display: inline-block;
    width: 250px;
    padding-left: 18px;
  }
  label {
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    margin-bottom: 10px;
    position: relative;
    left: -3px;
  }
}
.center {
  width: 170px;
  margin: 20px auto 90px;
  a {
    text-decoration: none;
  }

}

.destroy-btn {
  @extend .danger-btn;
  font-size: 16px;
  padding: 8px 25px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;

  &:hover {
    background-color: #980113;
    color: $gray;
    text-shadow: 0 1px 0 #000;
  }
}

/*
  ========================================
  Show
  ========================================
*/
.show-profile-container {
  margin: 16px 10px;
  span { 
    font-size: 14px;
    display: inline-block;
  }
}
.show-general {
  span:first-child {
    font-weight: bold;
    color: #4e5665;
    width: 100px;
    margin-bottom: 16px;
    text-align: right;
    vertical-align: top;
  }
  span:last-child {
    color: $alt-color;
    width: 350px;
    margin-left: 10px
  }
}
.show-privacy {
  margin: 30px 0;

  span:first-child {
    width: 320px;
    color: $alt-color;
    margin-bottom: 10px;
    text-align: right;
  }
  span:last-child {
    font-weight: bold;
    color: $color;
  }
}
.show-center {
  padding-top: 12px;
  border-top: 1px solid #bdc7d8;
  a {
    color: $blue;
    font-size: 16px;
  }
}
