$blue:      #3b5998;
$gray:      #f6f7f8;
$bg-color:  #e9eaed;
$color:     #141823;
$alt-color: #333;

$content-width: 496px;
$sidebar-width: 164px;

$font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
