<!DOCTYPE html>
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body{style: "background-color: #e9eaed; font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;"}
    .container{style: "background-color: #fff; width: 600px; margin: 0 auto; border: 1px solid #dcdee3; border-radius: 5px;"}
      = yield